<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>My Vue App</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="app" class="container">
      <!-- 02 Vue.jsの基本をおさえよう -->
      <!-- <p>Hello {{ name }}!</p> -->
      <!-- <p>Hello {{ name.toUpperCase() }}!</p>
      <p><input type="text" v-model="name" /></p> -->

      <!-- 03 ToDoアプリを作ってみよう -->
      <h1>

        <!-- 11 完了したToDoを一括削除しよう  -->
        <button @click="purge">Purge</button>
        My Todos
      <!-- 10 算出プロパティを使ってみよう -->
      <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
      </h1>
    <!-- <ul> -->
        <!-- <li>{{ todos[0] }}</li>
        <li>{{ todos[1] }}</li>
        <li>{{ todos[2] }}</li> -->
        <!-- <li v-for="todo in todos"> -->
          <!-- <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone"> -->
          <!-- {{ todo.title }} -->
          <!-- 08 v-bindでクラスを操作しよう -->
          <!-- <span v-bind:class="{done: todo.isDone}">{{ todo.title }}</span>          {{ todo }} -->
          <!-- <span :class="{done: todo.isDone}">{{ todo.title }}
          <span @click="deleteItem(index)" class="command">[x]</span>          
        </li> -->
        <!-- 09 v-ifで条件分岐をしてみよう  -->
        <!-- <li v-show="!todos.length">Nothing to do, yay!</li> -->
        <ul v-if="todos.length">
          <li v-for="(todo, index) in todos">
            <input type="checkbox" v-model="todo.isDone">
            <span :class="{done: todo.isDone}">{{ todo.title }}</span>
            <span @click="deleteItem(index)" class="command">[x]</span>
          </li>
        </ul>
        <ul v-else>
          <li>Nothing to do, yay!</li>
        </ul>



        <!-- 05 v-onでイベントを設定しよう -->
        <form @submit.prevent="addItem">
        <!-- <form v-on:submit="addItem"> -->
          <input type="text" v-model="newItem">
          <input type="submit" value="Add" />
        </form>
      </ul>

      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="js/main.js"></script>
    </div>
  </body>
</html>
